<div id="<%= dom_id tomato %>" class="group relative flex items-center justify-center">
  <span class="text-4xl select-none">🍅</span>
  <div class="pointer-events-none absolute -top-2 left-1/2 -translate-x-1/2 -translate-y-full z-10 px-2 py-1 rounded bg-gray-900 text-white text-xs shadow-md opacity-0 group-hover:opacity-100 transition whitespace-nowrap">
    <%= tomato.note %>
  </div>
</div>
